@import '../../../styles/scss/variables';

.ContentWrapModal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 8px;
  margin-top: 16px;
}

.ContentModalWarnning {
  display: flex;
  column-gap: 16px;
  padding: 8px 12px 8px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 16px;

  svg {
    display: block;
    margin: auto;
  }

  p {
    font-family: $fontSecondary;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: black;
    margin: 0;

    strong {
      display: inline-block;
    }

    @media (max-width: 300px) {
      font-size: 12px;
      line-height: 19px;
    }
  }
}

.ContentModalQty {
  display: flex;
  margin-bottom: 16px;

  margin-bottom: 0 !important;
  position: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid #dee7fc;
  height: 60px;

  @media (min-width: 1024px) {
    max-width: 127px;
  }

  :global(.vtex-numeric-stepper-container) {
    display: flex;
    justify-content: space-evenly;
  }
  @media (max-width: $tablet) {
    :global(.vtex-numeric-stepper-container) {
      display: flex;
      justify-content: space-evenly;
    }
  }
  :global(.vtex-numeric-stepper__plus-button__text),
  :global(.vtex-numeric-minus-button__text) {
    color: #3c5ca7;
    font-size: 20px;
    font-weight: 600;
  }

  :global(.vtex-numeric-stepper__input),
  :global(.vtex-numeric-stepper__plus-button),
  :global(.vtex-numeric-stepper__minus-button) {
    background-color: transparent;
    border: 0;
    width: 32px !important;

    @media (max-width: $tablet) {
      width: 100% !important;
    }
  }

  :global(.vtex-numeric-stepper__input) {
    width: 70px !important;
    max-width: unset !important;
    font-size: 20px;
    color: #3c5ca7;
    max-width: 35px;
    font-weight: 500;
  }

  .ContentModalWrapCheckBox {
    display: flex;
    column-gap: 8px;

    label {
      font-family: $fontSecondary;
      font-size: 16px;
      line-height: 24px;

      b {
        color: #3c5ca7;
      }

      @media (max-width: 300px) {
        font-size: 14px;
        line-height: 22px;
      }
    }

    :global(.vtex-checkbox__container) {
      display: block;
      margin: auto 0;

      :global(.vtex-checkbox__inner-container) {
        border-radius: 50%;
        border: 1px solid black !important;
        background: #fff !important;

        &:global(.bg-action-primary) {
          &::after {
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            margin: auto;
            margin-top: 2px;
            border-radius: 50%;
            background: #3c5ca7;
          }
        }
      }

      :global(.vtex-checkbox__box) {
        display: none !important;
      }
    }
  }
}

.ContentModalTotal {
  display: block;
  background-color: white;
  border: 1px solid #d9d9d9;
  padding: 8px 16px;
  border-radius: 5px;
  margin-bottom: 16px;

  > strong {
    display: block;
    font-family: $fontSecondary;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
    color: #3c5ca7;
  }

  .sale_price-wrapper {
    display: block;
    margin-bottom: 10px;
    font-family: $fontSecondary;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    color: black;

    .price {
      font-family: $fontSecondary;
      font-size: 32px;
      font-weight: 700;
      line-height: 48px;
      color: black;
    }
  }

  .ContentModalInfoQty {
    font-family: $fontSecondary;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: black;
  }
}

.ContentModalBuyButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4ab807;
  color: white;
  height: 60px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;

  svg {
    display: none;
  }
}
