@import "../../../styles/scss/variables";

.ScrollToDescriptionContainer{
    button{
        cursor: pointer;
        border: 0;
        padding: 0;
        outline: none;
        background: transparent;
        text-decoration: underline;
        font-family: $fontSecondary;
        font-size: $size-2-custom;
        text-decoration-line: underline;
        color: #3C5CA7;
        line-height: 21px;
        letter-spacing: 0.02em;
        display: block;
        
    }
}