.backToTopButtonContainer {
    width: 40px;
    height: 40px !important;
    text-align: center;
    line-height: 2;
    position: fixed;
    right: 1rem;
    bottom: 10rem;
    font-size: 1.375rem;
    transition: opacity .7s ease;
    color: #fff;

    button{
      width: 100%;
      height: 100%;
      background-color: #181848 !important;
      border: none;

      :hover{
        background-color: #181848 !important;
        filter: brightness(140%);
        border-radius: 4px;
      }

      :global(.vtex-button__label){
        padding: 0;
      }
    }
  }
  
  .backToTopButtonHidden {
    opacity: 0;
  }
  
  .backToTopButtonActive {
    opacity: 1;
  }