@import url("https://use.typekit.net/xlq5muo.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.WrapperToltipInfos {
  display: flex;
  width: max-content;
  margin-top: 12px;
  column-gap: 8px;
  position: relative;
}

.InfosMetro span {
  display: block;
  margin: 5px 0 0;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #6A6A6A;
  line-height: 18px;
}

.Tooltip {
  display: inline-block;
  position: relative;
}
.Tooltip .TooltipMenssage {
  visibility: hidden;
  width: 180px;
  max-width: 180px;
  background: #797878;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 7px 11px;
  position: absolute;
  z-index: 3;
  top: 120%;
  right: -74%;
  margin-right: -60px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.Tooltip .TooltipMenssage strong {
  display: inline-block;
  vertical-align: top;
}
.Tooltip .TooltipMenssage strong:last-child {
  margin-left: 2px;
}
.Tooltip .TooltipMenssage::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #797878 transparent;
}
.Tooltip:hover .TooltipMenssage {
  visibility: visible;
}