@import url("https://use.typekit.net/xlq5muo.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.wrapperActions {
  position: fixed;
  right: 0;
  top: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 10;
}
.wrapperActions a, .wrapperActions button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EDEDED;
  border: 0;
  padding: 0;
  cursor: pointer;
}
.wrapperActions a div, .wrapperActions button div {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperActions a div :global(.vtex-wish-list-1-x-wishlistIconContainer), .wrapperActions button div :global(.vtex-wish-list-1-x-wishlistIconContainer) {
  width: 40px;
  height: 40px !important;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperActions a div :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button__label), .wrapperActions button div :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button__label) {
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px !important;
}
.wrapperActions a div :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button__label)::before, .wrapperActions button div :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button__label)::before {
  content: "";
  width: 40px;
  height: 40px;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2104_4289' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2104_4289)'%3E%3Cpath d='M9.88949 17.8207L8.68115 16.7374C7.27837 15.4735 6.11865 14.3832 5.20199 13.4665C4.28532 12.5499 3.55615 11.7268 3.01449 10.9974C2.47282 10.2685 2.09449 9.59847 1.87949 8.98736C1.66393 8.37625 1.55615 7.75125 1.55615 7.11236C1.55615 5.80681 1.99365 4.71653 2.86865 3.84153C3.74365 2.96653 4.83393 2.52903 6.13949 2.52903C6.86171 2.52903 7.54921 2.68181 8.20199 2.98736C8.85476 3.29292 9.41726 3.72348 9.88949 4.27903C10.3617 3.72348 10.9242 3.29292 11.577 2.98736C12.2298 2.68181 12.9173 2.52903 13.6395 2.52903C14.945 2.52903 16.0353 2.96653 16.9103 3.84153C17.7853 4.71653 18.2228 5.80681 18.2228 7.11236C18.2228 7.75125 18.1153 8.37625 17.9003 8.98736C17.6848 9.59847 17.3062 10.2685 16.7645 10.9974C16.2228 11.7268 15.4937 12.5499 14.577 13.4665C13.6603 14.3832 12.5006 15.4735 11.0978 16.7374L9.88949 17.8207ZM9.88949 15.5707C11.2228 14.3763 12.32 13.3518 13.1812 12.4974C14.0423 11.6435 14.7228 10.9007 15.2228 10.269C15.7228 9.63681 16.07 9.07403 16.2645 8.5807C16.4589 8.08792 16.5562 7.59847 16.5562 7.11236C16.5562 6.27903 16.2784 5.58459 15.7228 5.02903C15.1673 4.47348 14.4728 4.1957 13.6395 4.1957C12.9867 4.1957 12.3825 4.37959 11.827 4.74736C11.2714 5.1157 10.8895 5.58459 10.6812 6.15403H9.09782C8.88949 5.58459 8.50754 5.1157 7.95199 4.74736C7.39643 4.37959 6.79226 4.1957 6.13949 4.1957C5.30615 4.1957 4.61171 4.47348 4.05615 5.02903C3.5006 5.58459 3.22282 6.27903 3.22282 7.11236C3.22282 7.59847 3.32004 8.08792 3.51449 8.5807C3.70893 9.07403 4.05615 9.63681 4.55615 10.269C5.05615 10.9007 5.73671 11.6435 6.59782 12.4974C7.45893 13.3518 8.55615 14.3763 9.88949 15.5707Z' fill='%23878787'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: 20px 20px;
  background-position: center center;
  background-repeat: no-repeat;
}
.wrapperActions a div :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button__label) :global(.vtex-wish-list-1-x-wishlistIcon), .wrapperActions button div :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button__label) :global(.vtex-wish-list-1-x-wishlistIcon) {
  display: none;
}
.wrapperActions a div :global(.vtex-rich-text-0-x-wrapper--share), .wrapperActions button div :global(.vtex-rich-text-0-x-wrapper--share) {
  padding: 0;
  margin: 0;
  border: 0;
}
.wrapperActions a div :global(.vtex-rich-text-0-x-wrapper--share) :global(.vtex-rich-text-0-x-paragraph), .wrapperActions button div :global(.vtex-rich-text-0-x-wrapper--share) :global(.vtex-rich-text-0-x-paragraph) {
  display: none;
}
.wrapperActions a div :global(.vtex-modal-layout-0-x-triggerContainer), .wrapperActions button div :global(.vtex-modal-layout-0-x-triggerContainer) {
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2104_4295' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2104_4295)'%3E%3Cpath d='M14.8999 18.4667C14.2055 18.4667 13.6152 18.2236 13.1291 17.7375C12.643 17.2514 12.3999 16.6611 12.3999 15.9667C12.3999 15.8694 12.4068 15.7686 12.4207 15.6642C12.4346 15.5603 12.4555 15.4667 12.4832 15.3833L6.60824 11.9667C6.37212 12.175 6.10824 12.3381 5.81657 12.4558C5.5249 12.5742 5.21935 12.6333 4.8999 12.6333C4.20546 12.6333 3.61518 12.3903 3.12907 11.9042C2.64296 11.4181 2.3999 10.8278 2.3999 10.1333C2.3999 9.43889 2.64296 8.84861 3.12907 8.3625C3.61518 7.87639 4.20546 7.63333 4.8999 7.63333C5.21935 7.63333 5.5249 7.69222 5.81657 7.81C6.10824 7.92833 6.37212 8.09167 6.60824 8.3L12.4832 4.88333C12.4555 4.8 12.4346 4.70639 12.4207 4.6025C12.4068 4.49805 12.3999 4.39722 12.3999 4.3C12.3999 3.60555 12.643 3.01528 13.1291 2.52917C13.6152 2.04305 14.2055 1.8 14.8999 1.8C15.5943 1.8 16.1846 2.04305 16.6707 2.52917C17.1568 3.01528 17.3999 3.60555 17.3999 4.3C17.3999 4.99444 17.1568 5.58472 16.6707 6.07083C16.1846 6.55694 15.5943 6.8 14.8999 6.8C14.5805 6.8 14.2749 6.74083 13.9832 6.6225C13.6916 6.50472 13.4277 6.34167 13.1916 6.13333L7.31657 9.55C7.34435 9.63333 7.36518 9.72694 7.37907 9.83083C7.39296 9.93528 7.3999 10.0361 7.3999 10.1333C7.3999 10.2306 7.39296 10.3311 7.37907 10.435C7.36518 10.5394 7.34435 10.6333 7.31657 10.7167L13.1916 14.1333C13.4277 13.925 13.6916 13.7617 13.9832 13.6433C14.2749 13.5256 14.5805 13.4667 14.8999 13.4667C15.5943 13.4667 16.1846 13.7097 16.6707 14.1958C17.1568 14.6819 17.3999 15.2722 17.3999 15.9667C17.3999 16.6611 17.1568 17.2514 16.6707 17.7375C16.1846 18.2236 15.5943 18.4667 14.8999 18.4667ZM14.8999 5.13333C15.136 5.13333 15.3338 5.05361 15.4932 4.89417C15.6532 4.73417 15.7332 4.53611 15.7332 4.3C15.7332 4.06389 15.6532 3.86583 15.4932 3.70583C15.3338 3.54639 15.136 3.46667 14.8999 3.46667C14.6638 3.46667 14.466 3.54639 14.3066 3.70583C14.1466 3.86583 14.0666 4.06389 14.0666 4.3C14.0666 4.53611 14.1466 4.73417 14.3066 4.89417C14.466 5.05361 14.6638 5.13333 14.8999 5.13333ZM4.8999 10.9667C5.13601 10.9667 5.33407 10.8867 5.49407 10.7267C5.65351 10.5672 5.73324 10.3694 5.73324 10.1333C5.73324 9.89722 5.65351 9.69917 5.49407 9.53917C5.33407 9.37972 5.13601 9.3 4.8999 9.3C4.66379 9.3 4.46574 9.37972 4.30574 9.53917C4.14629 9.69917 4.06657 9.89722 4.06657 10.1333C4.06657 10.3694 4.14629 10.5672 4.30574 10.7267C4.46574 10.8867 4.66379 10.9667 4.8999 10.9667ZM14.8999 16.8C15.136 16.8 15.3338 16.72 15.4932 16.56C15.6532 16.4006 15.7332 16.2028 15.7332 15.9667C15.7332 15.7306 15.6532 15.5328 15.4932 15.3733C15.3338 15.2133 15.136 15.1333 14.8999 15.1333C14.6638 15.1333 14.466 15.2133 14.3066 15.3733C14.1466 15.5328 14.0666 15.7306 14.0666 15.9667C14.0666 16.2028 14.1466 16.4006 14.3066 16.56C14.466 16.72 14.6638 16.8 14.8999 16.8Z' fill='%23878787'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center center;
}
.wrapperActions a span, .wrapperActions button span {
  white-space: nowrap;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: right;
  color: #878787;
  display: none;
  padding-left: 10px;
}
.wrapperActions a.emphasis, .wrapperActions button.emphasis {
  background-color: #FF5A21;
}
.wrapperActions a:hover, .wrapperActions button:hover {
  width: max-content;
}
.wrapperActions a:hover.emphasis, .wrapperActions button:hover.emphasis {
  background-color: #FF5A21;
}
.wrapperActions a:hover.emphasis span, .wrapperActions button:hover.emphasis span {
  color: #000;
}
.wrapperActions a:hover span, .wrapperActions button:hover span {
  display: block;
}
.wrapperActions a input, .wrapperActions button input {
  display: none;
}
.wrapperActions .modal {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperActions .modal .modalOverlay {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.85);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
}
.wrapperActions .modal .modalBody {
  width: 400px;
  height: 150px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperActions .modal .modalBody .modalClose {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.wrapperActions .modal .modalBody .code {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  text-transform: uppercase;
  font-weight: 600;
}
.wrapperActions .modal .modalBody .code input {
  width: 100%;
  border: 1px solid #dedede;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}
.wrapperActions .modal .modalBody .code .sellerCodeMessage {
  font-size: 11px;
  font-weight: 300;
  padding: 15px;
  text-align: center;
}