@import url("https://use.typekit.net/xlq5muo.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.customAddToCart {
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: #514b4b;
  font-family: effra, sans-serif;
  text-transform: uppercase;
}
@media screen and (max-width: 420px) {
  .customAddToCart {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .customAddToCart {
    height: 36px;
  }
}

:global(.vtex-product-summary-2-x-element):hover .customAddToCart {
  height: 36px;
}