@charset "UTF-8";
@import url("https://use.typekit.net/xlq5muo.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.overlay {
  z-index: 99998;
}

.drawer {
  max-width: 480px !important;
  width: 480px !important;
  z-index: 99999;
}
@media (max-width: 1024px) {
  .drawer {
    max-width: 400px !important;
    min-width: 280px !important;
    width: 85% !important;
  }
}

.minicartQuantityBadge {
  background-color: #FF5A21;
  width: 20px;
  height: 20px;
  top: -17px !important;
  right: -12px !important;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto";
}
@media (max-width: 1024px) {
  .minicartQuantityBadge {
    top: 0px !important;
  }
}

.minicartQuantityBadgeDefault {
  top: 0;
}

.minicartCheckoutButton {
  padding: 0;
}
.minicartCheckoutButton :global(.vtex-button) {
  background-color: #FF5A21;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  border-radius: 5px;
  letter-spacing: 0em;
  font-size: 0;
}
.minicartCheckoutButton :global(.vtex-button) :global(.vtex-button__label) {
  display: none;
}
.minicartCheckoutButton :global(.vtex-button)::after {
  content: "Finalizar compra";
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.minicartIconContainer .cartIcon {
  display: none;
}
.minicartIconContainer::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='41' width='38' viewBox='0 0 576 512'%3E%3Cpath fill='%23ffffff' d='M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z'/%3E%3C/svg%3E");
}
.minicartIconContainer:hover {
  background: transparent;
}

.openIconContainer {
  padding: 0 !important;
}
.openIconContainer :global(.vtex-button__label) {
  padding: 0 !important;
}

.closeIconContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
.closeIconContainer::before {
  content: "Seu Carrinho";
  display: block;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin-left: 16px;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .closeIconContainer::before {
    font-size: 18px;
  }
}
.closeIconContainer .closeIconButton {
  color: #000000;
}
.closeIconContainer .closeIconButton .closeIcon {
  width: 22px;
  stroke-width: 1.5px;
  color: #000000;
}

.minicartProductListContainer {
  padding: 0;
}

.minicartSideBarContentWrapper .minicartTitle {
  display: none;
}

.minicartEmptyStateContainer :global(.vtex-rich-text-0-x-paragraph) {
  font-size: 0px;
}
.minicartEmptyStateContainer :global(.vtex-rich-text-0-x-paragraph)::before {
  content: "Seu carrinho ainda está vazio :(";
  display: block;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #000000;
}