.trustvoxContainer {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media screen and (max-width: 767px) {
  .trustvoxContainer {
    padding: 0 0.5rem;
  }
}

.subtitleTrustvoxReview,
.trustvoxReviews {
  text-align: center;
}

.coltTrustvoxContainer {
  margin-top: 30px;
  margin-bottom: 30px;
}

.certificateTrustvoxContainer {}

.ratingInlineTrustvox {}