.padovani-basic-0-x-headerLineTopLink.link-1 .padovani-basic-0-x-paragraph .padovani-basic-0-x-strong{
    font-size: 20px;
    color: #41d694;
    font-weight: 800;
}

.padovani-basic-0-x-headerLineTopLink.link-2 .padovani-basic-0-x-paragraph .padovani-basic-0-x-strong{
    font-size: 20px;
    color: #e9a528;
    font-weight: 800;
}